
.sc-chat-window {
  width: 370px;
  height: calc(100% - 120px);
  max-height: 590px;
  position: fixed;
  right: 25px;
  bottom: 50px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 9999;
}

.sc-loader-con,
.sc-loader-con-svg {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
}

.sc-loader-con img {
  width: 70px;
}

.sc-loader-con-svg img {
  width: 40x;
}

.sc-message--thumbnail .sc-img-upload {
  max-width: 150px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.sc-message--thumbnail {
  cursor: pointer;
}

.sc-message--thumbnail:focus {
  outline: none;
}

.sc-loader-icon {
  padding-top: 10px;
  background: #f7f7f7;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
  bottom: 90px;
}

.sc-message-list {
  height: 80%;
  overflow-y: auto;
  background-color: #f7f7f7;
  background-size: 100%;
  padding: 40px 0px;
  scroll-behavior: smooth;
}

.sc-message--me {
  text-align: right;
}
.sc-message--them {
  text-align: left;
}

@media (max-width: 450px) {
  .sc-chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }
  .sc-chat-window {
    transition: 0.1s ease-in-out;
  }
  .sc-chat-window.closed {
    bottom: 0px;
  }
}

.sc-chat-empty-img {
  width: 75px;
  height: 75px;
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.sc-chat-empty-msg {
  margin: 0px 30px;
  text-align: center;
  color: #b3b3b3;
}

.sc-chat-empty-img-con {
  background-color: #f7f7f7;
}

.sc-timestamp {
  position: absolute;
  background: #272727;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  display: none;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.sc-timestamp:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #272727;
  border-width: 5px;
  margin-left: -5px;
}

.sc-message--text:hover .sc-timestamp {
  display: inline-block;
}