.sc-message {
  width: 300px;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
}

.sc-message--content {
  width: 100%;
  display: flex;
}

.sc-message--content.sent {
  justify-content: flex-end;
}

.sc-message--content.sent .sc-message--avatar {
  display: none;
}

.sc-message--avatar {
  background-image: url(https://d13yacurqjgara.cloudfront.net/assets/avatar-default-aa2eab7684294781f93bc99ad394a0eb3249c5768c21390163c9f55ea8ef83a4.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.sc-message--text {
  position: relative;
  padding: 17px 20px;
  border-radius: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  width: calc(100% - 90px);
}

.sc-message--content.sent .sc-message--text {
  color: white;
  background-color: #cb538d;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
  padding: 10px 15px;
  border-radius: 20px;
  margin-left: 40px;
  width: auto;
}

.sc-message--content.received .sc-message--text {
  color: #4d4d4d;
  background-color: #e3e3e3;
  word-wrap: break-word;
  padding: 10px 15px;
  border-radius: 20px;
  margin-right: 40px;
  width: auto;
}

.sc-message--emoji {
  font-size: 40px;
}

.sc-message--file {
  background: white;
  border: solid 1px #CCCDD1;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  text-decoration: none;
}

.sc-message--file p {
  margin: 0px 0px 0px 10px;
  color: rgba(86, 88, 103, 0.6);
}

.sc-message--file .sc-user-input--file-icon:hover path {
  fill: rgba(86, 88, 103, 0.3);
}

@media (max-width: 450px) {
  .sc-message {
    width: 80%;
  }
}

.sc-image-viewer {
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0px;
  padding: 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2001;
  background-color: rgba(0, 0, 0, 0.77);
  transition: height 0.3s ease-in-out;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

.sc-image-vew {
  min-height: 1px;
  min-width: 1px;
  display: inherit;
  opacity: 1;
  transition: 1s;
}

.sc-image-vew img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 100px);
  width: auto;
  max-width: 50%;
  position: absolute;
  z-index: 0;
  display: inherit;
  opacity: 1;
  transition: 1s;
  vertical-align: middle;
  border: 0;
}

.sc-close-image-view {
  display: inherit;
  opacity: 1;
  transition: 1s;
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  top: 10px;
  text-align: center;
  z-index: 1;
  right: 15px;
  cursor: pointer;
}

.sc-close-image-view img {
  display: inherit;
  opacity: 1;
  transition: 1s;
  float: right;
}

.sc-download-image-view {
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  top: 10px;
  text-align: center;
  z-index: 1;
  display: inherit;
  opacity: 1;
  transition: 1s;
  right: 50px;
}

.sc-download-image-view img {
  display: inherit;
  opacity: 1;
  transition: 1s;
}

.sc-time-created {
  color: #888;
  font-size: 10px;
  text-align: center;
  transition: transform 0.2s 0.1s, opacity 0.2s 0.1s;
  margin-bottom: 10px;
  display: block;
}

.sc-upload-loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-img-uploading {
  width: 30px;
  position: absolute;
  z-index: 9999;
}

.sc-opacity {
  opacity: 0.7;
}

.sc-message-list::-webkit-scrollbar {
  width: 10px;
}
.sc-message-list::-webkit-scrollbar-track {
  background-color: #e3e3e3;
}
.sc-message-list::-webkit-scrollbar-thumb {
  background-color: #38bca8;
  border-radius: 50px;
}